{% extends "base.html" %}

{% block title %}UI Design Showcase{% endblock %}

{% block content %}
<section id="ui-showcase">
    <h1>UI Design Showcase</h1>
    <p>Explore the creative and visually stunning UI designs that make every interface user-friendly and aesthetically pleasing.</p>
    <div class="ui-link">
        <a href="https://dribbble.com/faith-ux" target="_blank" class="visit-dribbble">
            <img src="/static/images/dribbble-icon.png" alt="Dribbble Logo">
            <span>Visit My Dribbble Profile</span>
        </a>
    </div>
</section>
{% endblock %}